@model PharmacyManagementSystem.Models.Sale

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Sale</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Medicine_Information.Medicine_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Medicine_Information.Medicine_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bill_Information.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bill_Information.Discount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
