@model PharmacyManagementSystem.Models.Medicine_Information

@{
    ViewBag.Title = "Create";
    if (Session["Usertype"] != null)
    {
        if (Session["Usertype"].ToString() == "Admin")
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Response.Write("<script>alert('Access Denied') ; window.location.href='/Medicine/Index'</script>");
        }
    }
    else
    {
        Response.Write("<script>alert('You dont have permission to access this page') ; window.location.href='/Login/Login'</script>");
    }
}

<h2>&nbspCreate Medicine Information</h2>

<hr width="99%">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table cellspacing="40">

        <tr align="right">
            <td>Medicine Name</td>
            <td>
                @Html.TextBoxFor(model => model.Medicine_Name, new { style = "width:300px; height:25px; font-size: 16px;" })
            </td>
            <td align="left">@Html.ValidationMessageFor(model => model.Medicine_Name, null, new { style = "color:red" })</td>
        </tr>
        
        <tr align="right">
            <td>Category</td>
            <td>
                @Html.DropDownList("Category", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Tablet", Value = "Tablet" },
                    new SelectListItem{ Text="Capsule", Value = "Capsule" },
                    new SelectListItem{ Text="Syrup", Value = "Syrup" },
                 }, "Select Category", new { style = "width:300px; height:30px; font-size: 16px;" })
                
            </td>
            <td align="left">@Html.ValidationMessageFor(model => model.Category, null, new { style = "color:red" })</td>
        </tr>


        <tr align="right">
            <td>Generic Name</td>
            <td>
              @Html.DropDownList("Generic_ID", null, "Select Generic Name", new { style = "width:300px; height:30px; font-size: 16px;" })
            </td>
            <td align="left">@Html.ValidationMessageFor(model => model.Generic_ID, null, new { style = "color:red" })</td>
            <td align="left">@Html.ValidationMessage("Error", new { style = "color:red" })</td>
        </tr>



        <tr align="right">
            <td>Manufacturer Name</td>
            <td>
                @Html.DropDownList("Manufacturer_ID", null, "Select Manufacturer", new { style = "width:300px; height:30px; font-size: 16px;" })
            </td>
            <td align="left">@Html.ValidationMessageFor(model => model.Manufacturer_ID, null, new { style = "color:red" })</td>
        </tr>



        <tr>
            <td></td>
            <td><input type="submit" value="Create" style="width:100px; height:35px;" /></td>
        </tr>
    </table>

}

<div>
    &nbsp  @Html.ActionLink("Back to List", "Index")
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
