@model PharmacyManagementSystem.Models.User_Information

@{
    ViewBag.Title = "Details";
    if (Session["Usertype"] != null)
    {
        if (Session["Usertype"].ToString() == "Admin")
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Response.Write("<script>alert('You dont have permission to access this page') ; window.location.href='/Dashboard/StaffDashboard'</script>");
        }
    }
    else
    {
        Response.Write("<script>alert('You dont have permission to access this page') ; window.location.href='/Login/Login'</script>");
    }
}

<h2>&nbspUser Details</h2>

<hr width="99%">

<table border="1" cellpadding="10" style="margin-top:30px; margin-left:10px; margin-right:10px;margin-bottom:30px">

            <tr>
                <td>Name</td>
                <td> @Html.DisplayFor(model => model.Name)</td>
            </tr>

            <tr>
                <td>Email</td>
                <td> @Html.DisplayFor(model => model.Email)</td>
            </tr>

            <tr>
                <td>Gender</td>
                <td> @Html.DisplayFor(model => model.Gender)</td>
            </tr>

            <tr>
                <td>Date of Birth</td>
                <td> @Html.DisplayFor(model => model.Date_of_Birth)</td>
            </tr>

            <tr>
                <td>Age</td>
                <td> @Html.DisplayFor(model => model.Age)</td>
            </tr>

            <tr>
                <td>Address</td>
                <td> @Html.DisplayFor(model => model.Address)</td>
            </tr>

            <tr>
                <td>Contact</td>
                <td> @Html.DisplayFor(model => model.Contact)</td>
            </tr>

            <tr>
                <td>Blood Group</td>
                <td> @Html.DisplayFor(model => model.Blood_Group)</td>
            </tr>

            <tr>
                <td>Marital Status</td>
                <td> @Html.DisplayFor(model => model.Marital_Status)</td>
            </tr>

            <tr>
                <td>Join Date</td>
                <td> @Html.DisplayFor(model => model.Join_Date)</td>
            </tr>

            <tr>
                <td>Salary</td>
                <td> @Html.DisplayFor(model => model.Salary)</td>
            </tr>

            <tr>
                <td>Username</td>
                <td> @Html.DisplayFor(model => model.User_Access.Username)</td>
            </tr>
            <tr>
                <td>Password</td>
                <td> @Html.DisplayFor(model => model.User_Access.Password)</td>
            </tr>

            <tr>
                <td>Usertype</td>
                <td> @Html.DisplayFor(model => model.User_Access.Usertype)</td>
            </tr>
</table>

<p>
    &nbsp&nbsp  @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
